{% extends "gongsa/base_gongsa.html" %}

{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'upload.css' %}">
    <script src="{% static 'upload.js' %}"></script>
{% endblock %}

{% block content %}
<body>
  <div class="content-wrapper">
    <div class="form-container">
      <h2>사외공사접수</h2>

      <div class="form-group">
        <label for="id_date">접수일자</label>
        <input type="text" class="form-control" id="id_date" name="date" value="{{ today }}" readonly>
      </div>

      <div class="form-group">
        <label for="id_department">접수 기관</label>        
        <input type="text" class="form-control" id="id_department" name="department" value="{{ form.initial.agency }}" readonly>
      </div>

      <div class="form-group">
        <label for="id_department">접수 부서</label>
        <input type="text" class="form-control" id="id_department" name="department" value="{{ form.initial.department }}" readonly>
      </div>

      <div class="form-group">
        <label for="id_contact">연락처</label>
        <input type="text" class="form-control" id="id_contact" name="contact" value="{{ form.initial.phone }}" readonly>
      </div>

      <div class="form-group">
        <label for="id_person">담당자</label>
        <input type="text" class="form-control" id="id_person" name="person" value="{{ form.initial.author }}" readonly>
      </div>

      <form id="post-form" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="id_construction_type">공사종류</label>
          {{ form.construction_type }}
          <small class="form-error" id="construction-type-error">{{ form.errors.construction_type }}</small>
        </div>
        <div class="form-group">
          <label for="id_start_at">공사 시작일</label>
          {{ form.start_at }}
          <small class="form-error" id="start-at-error">{{ form.errors.start_at }}</small>
        </div>
        <div class="form-group">
          <label for="id_end_at">공사 종료일</label>
          {{ form.end_at }}
          <small class="form-error" id="end-at-error">{{ form.errors.end_at }}</small>
        </div>
        <div class="form-group">
          <label for="id_content">기타 내용</label>
          {{ form.content }}
          <small class="form-error" id="content-error">{{ form.errors.content }}</small>
        </div>
        <button type="submit" class="btn btn-submit" id="submit-button">접수하기</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
